:root {
	--bg: #1d1d1d;
	--bg-box: #0f0f0f;
	--box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.2);
	--text: lightgray;
	--accent: #7E5C8D;
	--accent-dark: #594263;
}
.light {
	--bg: #fff;
	--bg-box: #fff;
	--box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
	--text: rgb(0, 0, 0);
	--accent: #5B137A;
}

body {
	background-color: var(--bg);
	max-width: 980px;
	padding: 10px 10px;
	margin: auto
}

#header {
	color:var(--text);
	background-color: var(--bg-box);
	box-shadow: var(--box-shadow);
	border-radius: 6px;
	font-family: Consolas,monaco,monospace; 
	font-size: 20px;
	display: flex;
	flex-flow: row no-wrap;
	align-items: center;
	transition: transform 250ms;
}
#header:hover {
	transform: translateY(-5px);
}
#header a {
	color: inherit;
	padding: 20px;
	text-decoration: none;
	transition: color 250ms;
}
#header p {
	padding: 0px 20px;
}
@media screen and (max-width: 600px) {
	body {
		padding: 10px;
	}
	#header {
		flex-direction: column;
	}
	#header a {
		padding: 3px;
	}
	#header p {
		padding: 3px;
	}
}
#header a:hover {
	color: var(--accent-dark);
}
#header-title {
	color: var(--accent);
	font-size: 35px;
	font-weight: bold;
}

.box_container {
	margin-top: 10px;
	display: grid;
	grid-gap: 10px 10px;
	grid-template-columns: auto auto;
}
@media screen and (max-width: 650px) {
	.box_container {
		grid-template-columns: auto !important;
	}
}
.box {
	background-color: var(--bg-box);
	color: var(--text);
	font-family: Consolas,monaco,monospace; 
	box-shadow: var(--box-shadow);
	border-radius: 6px;
	padding: 20px;
	text-align: center;
	transition: transform 250ms;
}
.box:hover {
	transform: translateY(-5px);
}
.box iframe {
	margin-bottom: 10px;
	box-shadow: var(--box-shadow);
	border-radius: 6px;
}

#footer {
	color:var(--text);
	background-color: var(--bg-box);
	box-shadow: var(--box-shadow);
	border-radius: 6px;
	font-family: Consolas,monaco,monospace; 
	padding: 10px;
	margin-top: 10px;
	text-align: center;
	transition: transform 250ms;
}
#footer:hover {
	transform: translateY(-5px);
}

ul {
	text-align: start;
	padding-left: 20px;
}
h1 {
	color: var(--accent);
	font-size: 25px;
	text-align: start;
	margin-top: 0px;
}
h2 {
	color: var(--accent);
	font-size: 18px;
	text-align: start;
}
p {
	text-align: start;
	margin: 0px;
}
a {
	color: var(--accent)
}
a:hover {
	color: var(--accent-dark);
	transition: color 300ms;
}
button {
	color: var(--text);
	font-family: Consolas,monaco,monospace;
	box-shadow: var(--box-shadow);
	cursor: pointer;
	background-color: var(--bg);
	border: none;
	border-radius: 6px;
}