:root {
	--bg: #1d1d1d;
	--bg-box: #0f0f0f;
	--box-shadow: rgb(0, 0, 0, 0.2);
	--text: lightgray;
	--accent: #7E5C8D;
}

body {
	background-color: var(--bg);
	max-width: 960px;
	padding-top: 10px;
	margin: auto
}

#header {
	color:var(--text);
	background-color: var(--bg-box);
	box-shadow: 5px 5px 5px var(--box-shadow);
	border-radius: 10px;
	font-family: Consolas;
	font-size: 20px;
	display: flex;
	flex-flow: row no-wrap;
	align-items: center;
}
#header a {
	color: inherit;
	text-shadow: 5px 5px 5px var(--box-shadow);
	padding: 20px;
	text-decoration: none;
}
@media screen and (max-width: 600px) {
	body {
		padding: 10px;
	}
	#header {
		flex-direction: column;
		padding-bottom: 7px;
	}
	#header a {
		padding: 3px;
	}
}
#header a:hover {
	color:  darkgray;
	transition: color 300ms;
}
#header-title {
	color: var(--accent);
	font-size: 35px
}

#box_container {
	margin-top: 10px;
	display: grid;
	grid-gap: 10px 10px;
	grid-template-columns: auto auto auto;
}
@media screen and (max-width: 600px) {
	#box_container {
		grid-template-columns: auto;
	}
}
.box {
	background-color: var(--bg-box);
	color: var(--text);
	font-family: Consolas;
	box-shadow: 5px 5px 5px var(--box-shadow);
	border-radius: 10px;
	padding: 10px;
	text-align: center;
}