body {
	background-color: #161616;
	max-width: 960px;
	padding-top: 10px;
	margin: auto
}

#header {
	color:lightgray;
	background-color: darkslategray;
	border-radius: 10px;
	font-family: Consolas;
	font-size: 20px;
	display: flex;
	flex-flow: row no-wrap;
	align-items: center;
}
#header a {
	color: inherit;
	text-shadow: 5px 5px 5px black;
	padding: 20px;
	text-decoration: none;
}
@media screen and (max-width: 600px) {
	body {
		padding: 10px 10px 0px 10px
	}
	#header {
		flex-direction: column;
		padding-bottom: 7px;
	}
	#header a {
		padding: 3px;
	}
}
#header a:hover {
	color:  darkgray;
}
#header-title {
	color: white;
	font-size: 35px;
}